.listContainer {
  flex: 1;
  margin-top: 80px;
}

.listContainer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.listContainer li {
  background-color: transparent;
  padding: 20px;
}
