.list {
  margin-top: 80px;
  padding: 20px 50px;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  background-color: transparent;
  padding: 20px;
}

/* CSS for mobile */
@media (max-width: 767px) {
  .list {
    padding: 0;
  }

  .list li {
    background-color: transparent;
    margin: auto;
    padding: 0;
  }

  .list li + li {
    margin-top: 10px;
  }
}
