.headerBar {
  height: 80px;
  background-color: #30363f;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBar select {
  width: 150px;
  background-color: #30363f;
  font-size: 15px;
  color: white;
}
