.ldsDualRing {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.ldsDualRing:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid tomato;
  border-color: tomato transparent tomato transparent;
  animation: ldsDualRing 1.2s linear infinite;
}

@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
